.App {
  text-align: center;
}
.info{
  font-size: 1.5rem;
  margin: 2rem;
  padding: 0.5rem 1rem;
}
#submitValue{
  background-color: blue;
  border-radius: 0.6rem;
  color: white;
}
#update{
  font-size: 1.5rem;
}